<form action = "/create" method="POST">
<h2>Создать задание</h2>

<div class = "input-field">
    <input name="task" type="text" class = "field" placeholder="Название задания">
    <p>Время начала</p>
    <input name="starttime" type="time" class = "time">
    <p>Время конца</p>
    <input name="endtime" type="time" class = "time">
    <button type="submit" class="btn">Создать</button>
</div>
</form>

