<form action = "/create" method="POST">
<h2>Создать задание</h2>

<div class = "input-field">
    <input name="task" type="text" class = "field" placeholder="Название задания">
    <button type="submit" class="btn">Создать</button>
</div>
</form>

